@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@300;500&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css");
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css");

:root {
  --color-1: #ff3333;
  --color-2: #30343f;
  --color-3: #fafaff;
  --color-4: #1d84b5;
  --color-5: #111111;
  --color-6: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 20px;
}

body::-webkit-scrollbar {
  width: 0px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-3);
  transition: all 0.3s;
}

.nvha:hover {
  color: var(--color-1);
}

@media screen and (max-width: 500px) {
  .nvha {
    font-size: 12px;
  }
}

ul {
  list-style: none;
}

body {
  max-width: 100vw;
}

/* HEADER------------------------------------------------------------------------------------------------------------------------------------- */
header {
  position: relative;
  width: 100vw;
  height: 7.2rem;
  background-color: var(--color-2);
  z-index: 2;
}

.header-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 2.5rem;
  max-width: 1440px;
}

.menu-icon {
  display: none;
  position: absolute;
  color: var(--color-3);
  scale: 1.8;
  top: 3rem;
  right: 5vw;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .menu-icon {
    scale: 1.2;
  }
}

.chevron-shop {
  position: relative;
  top: 5px;
}

.cart-icon {
  position: relative;
  width: 33px;
  height: 31px;
  bottom: -6px;
}

.funkoshop-logo {
  position: relative;
  width: 18rem;
  height: 3rem;
  margin: 0 5vw;
  min-width: 250px;
}

.nav-header li {
  display: inline-block;
  margin-right: 1rem;
}

.nav-header ul {
  margin: 0;
}

a {
  margin-left: 1rem;
}

@media screen and (max-width: 1024px) {
  .header-content {
    justify-content: center;
    padding: 0;
  }

  .nav-header {
    margin-top: 7rem;
  }

  .nav-list {
    display: none;
  }

  .show-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    background-color: var(--color-2);
  }

  .chevron-shop {
    display: none;
  }

  .nav-header li {
    display: inline-block;
    line-height: 2rem;
    padding: 0.5rem 2rem;
    margin-right: 0;
  }

  a {
    margin-left: 0;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon:active {
    color: var(--color-1);
  }
  .funkoshop-logo {
    width: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .header-content {
    justify-content: left;
  }
}
/* Banner------------------------------------------------------------------------------------------------------------------------------------- */
.banner {
  position: relative;
  width: 100vw;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-img {
  position: absolute;
  width: 100%;
  height: 18rem;
  background-image: url(../img/funkos-banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.58) blur(3px) saturate(1.2);
}

.banner-content {
  margin-left: 10%;
}

h2,
.slogan,
.btn-shop {
  position: relative;
  z-index: 1;
}

h2 {
  font-size: 38px;
  line-height: 44.61px;
  font-weight: 700;
  color: var(--color-3);
}

.slogan {
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 400;
  color: var(--color-3);
  margin-top: 10px;
}

.btn-shop {
  font-weight: 700;
  width: 10rem;
  height: 2.5rem;
  margin-top: 2.5rem;
  border: 0;
  border-radius: 50px;
  background-color: var(--color-3);
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-5);
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn-shop:hover {
  background-color: var(--color-2);
  color: var(--color-3);
  box-shadow: 0 0 20px var(--color-3);
  color: var(--color-3);
}

@media screen and (max-width: 768px) {
  .banner {
    display: none;
  }
}

/* MAIN--------------------------------------------------------------------------------------------------------------------------------------- */
main {
  position: relative;
  width: 100%;
  background-color: var(--color-3);
  z-index: 1;
  max-width: 1660px;
  margin: 0 auto;
}

.colec-conteiner {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.colecciones {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
}

.section-a {
  grid-area: a;
}
.section-b {
  grid-area: b;
}

.ab {
  grid-template-areas: "a b";
}
.ba {
  grid-template-areas: "b a";
}

@media screen and (max-width: 768px) {
  .ab,
  .ba {
    grid-template-areas:
      "a"
      "b";
  }
  .colecciones {
    grid-template-columns: none;
  }
}

h3 {
  font-size: 46px;
  font-weight: 500;
  line-height: 54px;
}

@media screen and (max-width: 400px) {
  h3 {
    font-size: 30px;
    line-height: 40px;
  }
}

p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.line {
  width: 50vw;
  min-width: 260px;
  border: 3px solid var(--color-1);
  margin: 2.5rem 0px;
}

.colec-img {
  width: 30rem;
}

@media screen and (max-width: 768px) {
  .colec-img {
    width: 50vw;
  }
  .section-b {
    justify-self: center;
  }
}

.ver-btn {
  width: 50vw;
  max-width: 14rem;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 50px;
  background-color: var(--color-2);
  transition: all 0.3s ease;
  color: var(--color-3);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

@media screen and (max-width: 500px) {
  .ver-btn {
    font-size: 14px;
    position: relative;
    left: 25%;
  }
}

.ver-btn:hover {
  background-color: var(--color-5);
  transform: translateY(-3px);
  box-shadow: 0 0 20px var(--color-2);
  color: var(--color-3);
  cursor: pointer;
}

.a-ver {
  position: relative;
  left: -15px;
}

/* SLIDER------------------------------------------------------------------------------------------------------------------------------------- */
h4 {
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
  margin: 4rem 0;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 500px) {
  h4 {
    font-size: 30px;
    line-height: 40px;
    margin: 1rem 0;
  }
}

h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-6);
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
}
h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
}
.price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
}
.cuotas {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: var(--color-4);
  font-family: "Inter", sans-serif;
  margin-bottom: 1em;
}

.lanzamientos {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.lanz-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  cursor: grab;
  user-select: none;
}

.funko-item {
  position: relative;
  transition: all 0.5s ease;
  padding: 0.7rem;
}

iconify-icon {
  font-size: 1rem;
  color: var(--color-5);
}
.glide__arrow--left {
  left: 0;
}
.glide__arrow--right {
  right: 0;
}

@media screen and (max-width: 500px) {
  .funko-item {
    width: 12rem;
    margin-bottom: 2rem;
    height: auto;
  }
  .funko-item:hover {
    padding: 0;
  }
}

.funko-item:hover {
  border-radius: 1rem 0 1rem 1rem;
  box-shadow: 0 0 20px rgba(222, 222, 222, 0.9);
}

.lanz-img {
  width: 18rem;
}

.nuevo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-3);
  background-color: var(--color-1);
  width: 96px;
  height: 30px;
  z-index: 2;
  font-size: 14px;
  line-height: 17px;
  font-family: "inter", sans-serif;
}

.chevron {
  position: absolute;
  top: 50%;
  cursor: pointer;
  margin: 10px;
}
/* FOOTER------------------------------------------------------------------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 17rem;
  background-color: var(--color-2);
  bottom: 0px;
}

.nav-f-u {
  margin: auto 10vw;
}

.nav-f-i {
  margin-bottom: 2%;
}

.isotype {
  position: absolute;
  width: 20vw;
  max-width: 200px;
  min-width: 100px;
  margin: auto;
  right: 10vw;
}

.copyright {
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-3);
  text-align: center;
}
.copyrightdiv {
  position: absolute;
  width: 100%;
  bottom: 5%;
}

@media screen and (max-width: 500px) {
  .copyright {
    font-size: 12px;
  }
  footer {
    height: 10rem;
  }
}
